/* Navbar Styling */
.navbar {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #007bff;
}

.nav-link {
  font-size: 1rem;
  margin: 0 10px;
  color: #555;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #007bff;
}

/* Admin Dashboard Heading */
.admin-dashboard-heading {
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.admin-dashboard-heading h2 {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Moving Text Styling */
.moving-text {
  font-size: 1rem;
  color: #ff5722;
  background: #f8f9fa;
  padding: 5px 0;
  margin-top: 10px;
}

/* Patient List Heading */
.patient-list-heading {
  margin-top: 15px;
  margin-left: 20px; /* Align to the left */
  font-family: 'Arial', sans-serif;
  color: #555;
}

.patient-list-heading h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
